<h1> Update Landmark </h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">

<br></br>
	<input type="text" name="landmark[name]" id="name" value="<%= @landmark.name%>">
	<input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed%>">
<br></br>
	<input type="submit" name="submit" id="Edit Landmark" value="submit">
</form>