<h1> Create a New Landmark! </h1>


<form action="/landmarks" method="POST">

	<input type="text" placeholder="Landmark Name" name="landmark[name]" id="landmark_name" value="">

	<br></br>
	<input type="text" placeholder="Year Completed" name="landmark[year_completed]" id="landmark_year_completed" value="">

	<br></br>



  	<input type="submit" name="submit" id="Create New Landmark" value="Submit">


  </form>